.self-photo {
    width: 175px;
    height: auto;
    border-radius: 5%;
    border: 4px solid #0d3541;
    margin-bottom: 25px;
}

.intro {
    margin: 0 auto;
}

.jumbo {
  background-color: #def2f8;
  width: 80%;
  margin-top: 75px;
}