.skills {
  width: 12vh;
  height: 12vh;
}

.skills-outer {
  margin-top: 100px;
}

#skills-bg, #resources {
  background-color: white;
  width: 85%;
}

#skill-bg {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  flex-flow: row wrap;
}

#resources, #education, .skills, .wrapper {
  max-width: 70%;
  margin: auto;
}